.card{
    margin: 10px;
    display: inline-block;
    border: solid 5px black;
    img{
        width: 200px;
        border-radius: 10px;
    }
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    
}