.counter{
  border: 1px black solid;
  text-align: center;
  width: 200px;
  display: inline-block;
  margin: 20px;
 
}

.counter button{
  margin: 5px;
  background-color: rgb(17, 201, 225);
  color: white;
}

.event{
  border: 1px black solid;
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 20px;
}

.usehook{
  border: 1px black solid;
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 20px;
}

.colordisplay{

  display: flex;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 3px solid rgb(240, 255, 166);
  border-radius: 5px;
}