.card{
  border: 1px black solid;

  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  
}

.card .card-img{
  border: solid;
  border-radius: 5px;
}

.student{
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  width:200px;
  height: auto;
  margin: 20px;
  padding: 10px;
}